[package]
name = "r"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crossterm = "0.24.0"
lazy_static = "1.4.0"
nu-ansi-term = "0.46.0"
pest = "2.5.2"
pest_derive = "2.5.2"
reedline = "0.14.0"
