.style-symbol {
  font-weight: bold;
  color: color-mix(in lch, var(--fg) 60%, var(--bg));
}

.style-call {
  font-style: italic;
  color: rgb(108, 43, 224);
}

.style-value {
  color: rgb(193, 82, 44);
}

.style-number {
  color: rgb(195, 93, 33);
}

.style-string {
  color: rgb(63, 120, 0);
}

.style-comment {
  color: rgb(100, 100, 100);
}

.style-function {
  font-weight: bold;
  font-style: italic;
  color: rgb(41, 92, 210);
}

.style-signal {
  color: rgb(189, 17, 250);
}

.style-control_flow {
  font-style: italic;
  color: rgb(89, 25, 204);
}

.style-brackets, .style-operators, .style-infix {
  color: rgb(117, 117, 117);
}

.style-error {
  text-decoration: underline red wavy 1px;
}



.dark .style-symbol {
  font-weight: bold;
  color: var(--fg);
}

.dark .style-call {
  font-style: italic;
  color: rgb(122, 164, 247);
}

.dark .style-value {
  color: rgb(255, 158, 101);
}

.dark .style-number {
  color: rgb(240, 158, 130);
}

.dark .style-string {
  color: rgb(158, 206, 106);
}

.dark .style-comment {
  color: rgb(100, 100, 100);
}

.dark .style-function {
  font-weight: bold;
  font-style: italic;
  color: rgb(82, 132, 250);
}

.dark .style-signal {
  color: rgb(214, 99, 255);
}

.dark .style-control_flow {
  font-style: italic;
  color: rgb(155 112 231);
}

.dark .style-brackets, .dark .style-operators, .dark .style-infix {
  color: rgb(170, 170, 170);
}
