    html {
      scroll-behavior: smooth;
    }

    :root {
      --font-scale: 1;
    }

    .light {
      --bg-rgb: 232, 232, 232;
      --fg-rgb: 12, 12, 12;
      --gray0: #D0D0D0;
      --gray1: #FFFFFF;
      --gray2: #E0E0E0;
      --gray3: #F0F0F0;
      --gray4: #CCC;
      --gray7: #888;
    }

    .dark {
      --bg-rgb: 0, 0, 0;
      --fg-rgb: 224, 224, 224;
      --gray0: #000;
      --gray1: #121212;
      --gray2: #202020;  
      --gray3: #282828;
      --gray4: #363636;
      --gray7: #666;
    }

    * {
      -webkit-transition: all 0.3s ease, font-size 0s linear;
      -moz-transition: all 0.3s ease, font-size 0s linear;
      -o-transition: all 0.3s ease, font-size 0s linear;
      -ms-transition: all 0.3s ease, font-size 0s linear;
      transition: all 0.3s ease, font-size 0s linear;
    }

    body {
      --bg: rgb(var(--bg-rgb));
      --fg: rgb(var(--fg-rgb));

      font-family: sans-serif, sans;
      padding: 0;
      margin: 0;
      background: var(--bg);
      color: var(--fg);
    }

    pre {
      margin: 0.3rem 0.1rem;
      white-space: pre-wrap;
      line-height: 1.4em;
    }

    .container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0%;
      left: 1%;
      right: 1%;
      bottom: 0.5%;
    }

    .header {
      position: absolute;
      justify-content: center;
      display: flex;
      column-gap: 10%;
      width: 100%;
      z-index: 1000;
      background: rgba(var(--fg-rgb), 10%);
      backdrop-filter: blur(10px);
      padding-bottom: 0.5em;
      padding-top: calc(0.5em + env(safe-area-inset-top, 0em));
    }

    .flex-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    body, .prompt * {
      font-size: calc(1rem * var(--font-scale));
    }

    @media only screen and (min-width: 768px) {
      .header {
        column-gap: 5%;
        padding-bottom: 1em;
        padding-top: calc(1em + env(safe-area-inset-top, 0em));
      }

      .container {
        left: 10%;
        right: 10%;
        bottom: 10%;
      }
    }

    @media only screen and (min-width: 1200px) {
      .container {
        left: 20%;
        right: 20%;
        bottom: 20%;
      }
    }

    .output-scroll {
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      scrollbar-width: none;
      scroll-behavior: smooth;
      -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1) max(15em, 35vh), rgba(0,0,0,0.2) max(25em, 60vh));
    }

    .output-scroll::-webkit-scrollbar {
      display: none;
    }

    .output-scroll-pad {
      height: inherit;
    }

    .output-cell {
      position: relative;
      font-family: monospace, mono;
      white-space: pre;
      line-height: 1.4em;
      color: var(--fg);
      padding: 0.25em 0.5em;
      margin: 0.25em 0;
      border-radius: 0.5em;
    }

    .input:hover {
      background: var(--gray3);
    }

    .input:active {
      background: var(--gray2);
    }

    .input, .output {
      background: var(--gray2);
    }

    .input .output {
      background: var(--gray0);
      color: var(--fg);
    }

    .error {
      background: color-mix(in lch, #D11 25%, var(--bg));
      color: color-mix(in lch, #D11 25%, var(--fg));
    }

    .error a {
      color: color-mix(in lch, #D11 50%, var(--fg));
    }

    .btn {
      display: inline;
      border-radius: 0.5em;
      color: rgba(var(--fg-rgb), 50%);

      font-size: 1.2em;
      font-weight: bold;

      padding: 0em 0.5em;

      cursor: pointer;
      user-select: none;
    }

    .btn-group {
      display: flex;
    }

    .btn-slim {
      padding-left: 0;
      padding-right: 0;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: var(--gray2);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 0em 1em;
      z-index: 1000;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .dropdown-content a {
      color: var(--fg);
      opacity: 50%;
      font-weight: bold;
      text-decoration: none;
    }

    .dropdown-content a:hover {
      opacity: 100%;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .submit {
      background: #58F;
      color: white;
    }

    .submit:hover {
      background: #69F;
    }

    .submit:active {
      background: #7AF;
    }

    .clear {
      background: none;
    }

    .icon {
      font-size: 0.5em;
      padding: 0 1rem;
      vertical-align: middle;
      cursor: pointer;

      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: 50% 50%;
      mask-position: 50% 50%;

      background-color: rgba(var(--fg-rgb), 50%);
    }

    .icon-text:hover {
      color: var(--fg);
    }

    .icon:hover {
      background-color: var(--fg);  
    }

    .dark .i-mode {
      -webkit-mask-image: url("../img/sun.svg");
      mask-image: url("../img/sun.svg"); 
    }

    .light .i-mode {
      -webkit-mask-image: url("../img/moon.svg");
      mask-image: url("../img/moon.svg");
    }

    .i-moon {
      -webkit-mask-image: url("../img/moon.svg");
      mask-image: url("../img/moon.svg");
    }

    .i-sun {
      -webkit-mask-image: url("../img/sun.svg");
      mask-image: url("../img/sun.svg");
    }

    .i-down-arrow {
      -webkit-mask-image: url("../img/down-arrow.svg");
      mask-image: url("../img/down-arrow.svg");
    }

    .i-up-arrow {
      -webkit-mask-image: url("../img/up-arrow.svg");
      mask-image: url("../img/up-arrow.svg");
    }

    .i-github {
      -webkit-mask-image: url("../img/github.svg");
      mask-image: url("../img/github.svg");
    }

    .i-translate {
      -webkit-mask-image: url("../img/translate.svg");
      mask-image: url("../img/translate.svg");
    }

    .prompt-input-container {
      position: relative;  
    }

    .prompt-input, .prompt-highlight, .prompt-diagnostics {
      box-sizing: border-box;
      font-family: monospace, mono;
      white-space: pre;
      line-height: 1.4em;
      width: 100%;
      resize: vertical;

      background: var(--gray1);
      color: var(--fg);

      border-radius: 0.5em;
      border-width: 0.2em;
      border-style: solid;
      border-color: var(--gray2);
      padding: 1em;
    }

    .prompt {
      margin-top: auto;
    }

    .prompt-highlight, .prompt-diagnostics {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: -1000;
    }

    .prompt-diagnostics {
      background: transparent;
      border-color: transparent;
    }

    .prompt-run, .output-share {
      position: absolute;
      background: var(--fg);
      opacity: 50%;
      vertical-align: middle;
      cursor: pointer;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: 50% 50%;
      mask-position: 50% 50%;
    }

    @media (hover: hover) {
      .prompt-run, .output-share {
        visibility: hidden;
        opacity: 0%;
      }
    }

    .prompt-run {
      top: 1em;
      right: 1em;  
      padding: 1em;
    }

    .output-share {
      top: 0.5em;
      right: 0.5em;  
      padding: 0.75em;  
    }

    .prompt-run {
      -webkit-mask-image: url("../img/play.svg");
      mask-image: url("../img/play.svg"); 
    }

    .output-share {
      -webkit-mask-image: url("../img/share.svg");
      mask-image: url("../img/share.svg"); 
    }

    .prompt-input:hover ~ .prompt-run, .output-cell:hover .output-share {
      visibility: visible;
      opacity: 50%;
    }

    .prompt-input ~ .prompt-run:hover, .output-cell .output-share:hover {
      visibility: visible;
      opacity: 100%;
    }

    .prompt-input {
      position: relative; 
      color: transparent !important;
      caret-color: var(--fg) !important;
      background: transparent !important;
      border-color: transparent !important;
    }

    .prompt-input::-webkit-scrollbar {
      display: none;
    }

    .prompt-input:focus {
      outline: 0;
    }

    .prompt-input:focus + .prompt-highlight {
      border-color: var(--gray4);
    }
