<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=r">
    <script type="text/javascript">window.location.href = "r"</script>
    <title>Redirecting...</title>
  </head>
  <body>
    <style>
      body { 
        text-align: center;
        color: #BBB;
        background: #111; 
        width: 100%;
        height: 100%;
        padding: 3em;
        margin: 0;
      }
      a {
        color: #4BD;
      }
    </style>
    <h1>Redirecting...</h1>
    If you are not redirected automatically, follow this <a href='r'>link</a>.
  </body>
</html>
